body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

#container {
    width: 50%;
    background-color: rgb(200, 200, 200);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 20px;
}

.top {
    height: 120px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#btn1 {
    height: 50px;
    width: 150px;
    background-color: blue;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    border: none;
}

#btn1:hover {
    background-color: white;
    color: blue;
}

#btn2 {
    height: 50px;
    width: 150px;
    background-color: blue;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    border: none;
}

#btn2:hover {
    background-color: white;
    color: blue;
}

#add {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    background-color: rgb(200, 200, 200);
    height: 300px;
    width: 400px;
    border: 1px solid black;
    border-radius: 10px;
    display: none;
}

#add input {
    border: none;
    border-bottom: 2px solid grey;
    height: 30px;
    width: 300px;
    border-radius: 10px;
}

#submit {
    height: 30px;
    width: 300px;
    background-color: blue;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    border: none;
}

#submit:hover {
    background-color: white;
    color: blue;
}

#remove {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    background-color: rgb(200, 200, 200);
    height: 200px;
    width: 400px;
    border: 1px solid black;
    border-radius: 10px;
    display: none;
}

#remove input {
    border: none;
    border-bottom: 2px solid grey;
    height: 30px;
    width: 300px;
    border-radius: 10px;
}