* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

body {
    height: 90vh;
    background-color: #0A0C1B;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 300px;
    width: 700px;
    background-color: #1C1938;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 5px;

    overflow: hidden;
}

.text-container {
    height: 100%;
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    height: 70%;
    width: 75%;
}

h1 {
    font-size: 25px;
    margin-bottom: 20px;
}

span {
    color: hsl(277, 64%, 61%);
}

.p1 {
    font-size: 10px;
    line-height: 15px;
    color: hsla(0, 0%, 100%, 0.75);
}

.footer {
    margin-top: 50px;
    display: flex;
    gap: 30px;
}

.p {
    font-size: 8px;
    color: hsla(0, 0%, 51%, 0.75);
}

.image {
    height: 100%;
    width: 45%;
    background-image: url("./images/image-header-desktop.jpg");
    background-color: hsl(277, 64%, 61%);
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
}

@media (max-width: 375px) {
    * {
        margin: 0px;
        padding: 0px;
        font-family: sans-serif;
    }

    body {
        height: 90vh;
        background-color: #0A0C1B;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container {
        height: 700px;
        width: 300px;
        background-color: #1C1938;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        color: white;
        border-radius: 5px;

        overflow: hidden;
    }

    .text-container {
        height: 70%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .text {
        height: 85%;
        width: 75%;
        text-align: center;
    }

    h1 {
        font-size: 24px;
        margin-bottom: 20px;
    }

    span {
        color: hsl(277, 64%, 61%);
    }

    .p1 {
        font-size: 15px;
        line-height: 20px;
        color: hsla(0, 0%, 100%, 0.75);
    }

    .footer {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    h4 {
        font-size: 26px;
        margin-bottom: 4px;
    }

    .p {
        font-size: 13px;
        color: hsla(0, 0%, 51%, 0.75);
    }

    .image {
        height: 30%;
        width: 100%;
        background-image: url("./images/image-header-mobile.jpg");
        background-color: hsl(277, 64%, 61%);
        background-position: center;
        background-size: cover;
        background-blend-mode: multiply;
    }
}