* {
    font-family: sans-serif;
}

body {
    height: 90vh;
    background-color: #ECF2FF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 400px;
    width: 600px;
    background-color: white;
    border-radius: 20px;
    display: flex;
}

.left {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(to bottom, #6542FE, #342EEA);
    border-radius: 20px;
}

.left-h3 {
    color: #CCC5F9;
    font-size: 80%;
    margin-bottom: 20px;
}

.result {
    height: 40%;
    width: 56%;
    background: linear-gradient(to bottom, #4E23C8, #4634EC);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.h1 {
    color: white;
    margin: 5px;
    padding: 0px;
    font-size: 50px;
}

.p1 {
    color: rgb(172, 172, 172);
    margin: 0px;
    padding: 0px;
    font-size: 12px;
}

.left-text {
    height: 30%;
    width: 63%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.h2 {
    color: white;
    margin: 0px;
}

.p2 {
    font-size: 13px;
    color: #CCC5F9;
}

.right {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text {
    height: 90%;
    width: 85%;
    margin-bottom: 20px;
}

img {
    height: 20px;
}

.reaction {
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF6F7;
    border-radius: 10px;
    gap: 100px;
    margin-bottom: 10px;
}

p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.span-reaction {
    margin-left: 10px;
    color: hsl(0, 100%, 67%);
    font-size: 12px;
}

.memory {
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFAF4;
    border-radius: 10px;
    gap: 100px;
    margin-bottom: 10px;
}

.span-memory {
    margin-left: 10px;
    color: hsl(39, 100%, 56%);
    font-size: 12px;
}

.verbal {
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2FDF9;
    border-radius: 10px;
    gap: 100px;
    margin-bottom: 10px;
}

.span-verbal {
    margin-left: 10px;
    color: hsl(166, 100%, 37%);
    font-size: 12px;
}

.visual {
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F4F4FE;
    border-radius: 10px;
    gap: 100px;
    margin-bottom: 10px;
}

.span-visual {
    margin-left: 10px;
    color: hsl(234, 85%, 45%);
    font-size: 12px;
}

.num {
    color: grey;
    margin-left: 5px;
}

button {
    height: 40px;
    width: 100%;
    margin-top: 10px;
    border-radius: 20px;
    border: none;
    background-color: #303B59;
    color: white;
} 

button:hover {
    background: linear-gradient(to bottom, #6341F8, #322BE9);
    cursor: pointer;
}

@media (max-width: 376px) {
    * {
        font-family: sans-serif;
    }

    body {
        height: 90vh;
        background-color: #ECF2FF;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container {
        height: 650px;
        width: 300px;
        background-color: white;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
    }

    .left {
        height: 50%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: linear-gradient(to bottom, #6542FE, #342EEA);
        border-radius: 20px;
    }

    .left-h3 {
        color: #CCC5F9;
        font-size: 80%;
        margin-bottom: 20px;
    }

    .result {
        height: 40%;
        width: 40%;
        background: linear-gradient(to bottom, #4E23C8, #4634EC);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .h1 {
        color: white;
        margin: 5px;
        padding: 0px;
        font-size: 50px;
    }

    .p1 {
        color: rgb(172, 172, 172);
        margin: 0px;
        padding: 0px;
        font-size: 12px;
    }

    .left-text {
        height: 30%;
        width: 70%;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .h2 {
        color: white;
        margin: 0px;
    }

    .p2 {
        font-size: 13px;
        color: #CCC5F9;
    }

    .right {
        height: 50%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .text {
        height: 90%;
        width: 85%;
        margin-bottom: 20px;
    }

    .h3 {
        font-size: 12px;
    }

    img {
        height: 20px;
    }

    .reaction {
        height: 15%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #FFF6F7;
        border-radius: 10px;
        gap: 100px;
        margin-bottom: 10px;
    }

    p {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .span-reaction {
        margin-left: 10px;
        color: hsl(0, 100%, 67%);
        font-size: 12px;
    }

    .reaction p {
        font-size: 12px;
    }

    .memory {
        height: 15%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #FFFAF4;
        border-radius: 10px;
        gap: 100px;
        margin-bottom: 10px;
    }

    .span-memory {
        margin-left: 10px;
        color: hsl(39, 100%, 56%);
        font-size: 12px;
    }

    .memory p {
        font-size: 12px;
    }

    .verbal {
        height: 15%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #F2FDF9;
        border-radius: 10px;
        gap: 100px;
        margin-bottom: 10px;
    }

    .span-verbal {
        margin-left: 10px;
        color: hsl(166, 100%, 37%);
        font-size: 12px;
    }

    .verbal p {
        font-size: 12px;
    }

    .visual {
        height: 15%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #F4F4FE;
        border-radius: 10px;
        gap: 100px;
        margin-bottom: 10px;
    }

    .span-visual {
        margin-left: 10px;
        color: hsl(234, 85%, 45%);
        font-size: 12px;
    }

    .visual p {
        font-size: 12px;
    }

    .num {
        color: grey;
        margin-left: 5px;
    }

    button {
        height: 40px;
        width: 100%;
        margin-top: 10px;
        border-radius: 20px;
        border: none;
        background-color: #303B59;
        color: white;
    } 

    button:hover {
        background: linear-gradient(to bottom, #6341F8, #322BE9);
        cursor: pointer;
    }
}

